<mat-toolbar color="primary">
  <h1 id="heading">Leitfaden zur Auswahl eines Betriebssystems</h1>
  <span class="empty-space"></span>
  <button
    id="toolbar-button"
    class="spacing allignRight"
    mat-raised-button
    color="accent"
    (click)="Restart()"
  >
    Neustarten
  </button>
</mat-toolbar>
<div class="background">
  <mat-card class="spacing">
    <mat-card-header *ngIf="!finished; else ResultTemplate">{{
      CurrentQuestion.Text
    }}</mat-card-header>
    <ng-template #ResultTemplate>
      <pre class="result-text">{{ Result }}</pre>
    </ng-template>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="selectedAnswer">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let Answer of CurrentQuestion.PossibleAnswers"
          [value]="Answer"
        >
          {{ Answer }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <button
    class="spacing allignRight"
    *ngIf="!finished"
    mat-raised-button
    color="accent"
    (click)="GoToNextQuestion()"
    [disabled]="!selectedAnswer && CurrentQuestion.PossibleAnswers?.length > 0"
  >
    Weiter
  </button>
</div>
