.background{
    padding-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.spacing{
    margin: 0.5%;
}

.allignRight{
    float: right;
}

#heading{
    margin-left: 2%;
}

#toolbar-button{
    margin-right: 2%;
}

.empty-space{
    flex: 1 1 auto;
}

.result-text {
    font-size: 16px;
    text-align: center;
  }